.site-header {
  position: absolute;
  width: 100%;
  display: table;
  z-index: 2;
  background-color: rgba($mainBlue, 0.3);
  padding: 10px 0;

  &__btn-container {
    float: right;
  }

  &__logo {
    position: absolute;
    top: 0;
    background-color: $mainBlue;
    padding: 25px 36px;
  }
}
